/* ------------ VARIABLES ------------ */
:root{
  /* COLORS */
  --color: #9176FF;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
  --light-color: #ffffff;
  --light-icon-color: #FFDE59;
  --light-blue: #2986cc;
  --very-light-blue: #8fcbf7;
}

:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* ------------ BASE ------------ */

body {
   background-color: var(--light-color);
  color: #2B2929;
  font-size: 30px;
  font-family: var(--default-font);
}

.dark-mode {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* menu */
.navbar {
  position: fixed;
  background: var(--bg-secondary);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: 0.75s cubic-bezier(0.71, 0.01, 0.24, 0.99);
  transition-delay: 0.5s;
  z-index: 1;
}

.navbar.active {
  top: 0;
  visibility: visible;
  transition-delay: 0s;
}

.navbar-list > li {
  margin-block: 20px;
  padding-inline: 50px;
  overflow: hidden;
}

.navbar-link {
  position: relative;
  width: max-content;
  margin-inline: auto;
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  font-size: var(--fs-1);
  padding: 10px;
  transform: translateY(50px);
  transition: 0.75s cubic-bezier(0.68, -0.55, 0.27, 2);
}

.navbar.active .navbar-link {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 5px;
  width: 0;
  background: var(--raw-seinna);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus)::before { width: 100%; }





/* -------------- BUTTON -------------- */
.btn{
  background-color: #fff;
  width: 60px;
  height: 34px;
  border-radius: 26px;

  position: absolute;
  display: flex;
  cursor: pointer;
  top: 40px;
  right: 40px;

}

.btn__indicator{
  background-color:;
  width: 26px;
  height: 26px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  position: absolute;
  transition: transform .3s ease;
}

.btn__icon-container{
  width: 100%;
  height: 100%;
  display: flex;
}

.btn__icon{
  color: var(--light-icon-color);
}

/* -------------- ANIMATION ------------ */
.btn__icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to {
    transform: rotate(0deg);
  }
}

/* -------------- DARKMODE -------------- */
body.darkmode{
  background-color: var(--dark-color);
}

.darkmode .btn{
  background-color: var(--dark-color);
}

.darkmode .btn__indicator{
  transform: translateX(0px);
  background-color: var(--dark-color);
}

.darkmode .btn__icon{
  color: var(--dark-icon-color);
}
