/* ------------ VARIABLES ------------ */
:root{
  /* COLORS */
  --color: #9176FF;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
  --light-color: #ffffff;
  --light-icon-color: #FFDE59;
  --light-blue: #2986cc;
  --very-light-blue: #8fcbf7;
}

:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

 /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

/* ------------ BASE ------------ */

*{
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--light-color);
  color: #2B2929;
  font-size: 26px;
  font-weight: 700;
  font-family: var(--default-font);
}

.dark-mode {
  background-color: var(--dark-color);
  color: var(--light-color);
}

                                              
/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--ligth-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: 100;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--dark-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
   color: var(--dark-color);
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--dark-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--light-blue);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--dark-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}



/* -------------- BUTTON -------------- */
.btn{
  background-color: #fff;
  width: 60px;
  height: 34px;
  border-radius: 26px;
  position: fixed;
  display: flex;
  cursor: pointer;
  top: 0;
  right: 0;

}

.btn__indicator{
  background-color: ;
  width: 26px;
  height: 26px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  position: fixed;
  transition: transform .3s ease;
}

.btn__icon-container{
  width: 100%;
  height: 100%;
  display: flex;
}

.btn__icon{
  color: var(--light-icon-color);
}

/* -------------- ANIMATION ------------ */
.btn__icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to {
    transform: rotate(0deg);
  }
}

/* -------------- DARKMODE -------------- */
body.darkmode{
  background-color: var(--dark-color);
}

.darkmode .btn{
  background-color: var(--dark-color);
}

.darkmode .btn__indicator{
  transform: translateX(0px);
  background-color: var(--dark-color);
}

.darkmode .btn__icon{
  color: var(--dark-icon-color);
}



/* intro */

* {
  box-sizing: border-box;
}

.dashboard {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.splash-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 3em;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  transition: ease-in-out 0.5s;
}















