/* ------------ VARIABLES ------------ */
:root{
  /* COLORS */
  --color: #9176FF;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
  --light-color: #ffffff;
  --light-icon-color: #FFDE59;
  --light-blue: #2986cc;
  --very-light-blue: #8fcbf7;
}

:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* ------------ BASE ------------ */

body {
   background-color: var(--light-color);
  color: #2B2929;
  font-size: 26px;
  font-family: var(--default-font);
}

.dark-mode {
  background-color: var(--dark-color);
  color: var(--light-color);
}


/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: var(--light-color);
  position: fixed;
  top: 40;
  left: 40;
  z-index: 100;
  transition: .5s;
}

.navbar {
  overflow: hidden;
  background-color: var(--dark-color);
  position: fixed;
  top: 40;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: var(--light-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


/* -------------- BUTTON -------------- */
.btn{
  background-color: #fff;
  width: 60px;
  height: 34px;
  border-radius: 26px;

  position: fixed;
  display: flex;
  cursor: pointer;
  top: 40px;
  right: 40px;

}

.btn__indicator{
  background-color:;
  width: 26px;
  height: 26px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  position: fixed;
  transition: transform .3s ease;
}

.btn__icon-container{
  width: 100%;
  height: 100%;
  display: flex;
}

.btn__icon{
  color: var(--light-icon-color);
}

/* -------------- ANIMATION ------------ */
.btn__icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to {
    transform: rotate(0deg);
  }
}

/* -------------- DARKMODE -------------- */
body.darkmode{
  background-color: var(--dark-color);
}

.darkmode .btn{
  background-color: var(--dark-color);
}

.darkmode .btn__indicator{
  transform: translateX(0px);
  background-color: var(--dark-color);
}

.darkmode .btn__icon{
  color: var(--dark-icon-color);
}
